.header,.b a
{ text-align: center;
    color: white;
    padding-top: 2.5px;
    background-color: #263238 ;
    text-decoration: none;
}


.header,.container
{   padding-top:2.1px;
   text-align: right;
}

.logo
{
margin-left: 1%;
margin-bottom: 3%;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    margin-right: -4px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.subhead{
text-align: center;
}


    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #263238;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #f1f1f1;
    text-align: left;
    font-size: 14px;
    padding: 3px 3px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #3e8e41}

.dropdown:hover .dropdown-content {
    display: block;
}



.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    }

.datamining{
    width: 400px;
    padding: 10px;
    margin-top: 3%;
    border: 0.1px solid #263238;
    margin-left: 35%;
}
