{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Course List</title>
</head>
<body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
<script src="{% static 'js/filetree.js' %}"></script>


<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


<div class="table-responsive">
    <div class="container">
        <h2 class="subhead">Course list</h2></br>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <td><h4>Course Name</h4></td>
                <td><h4>Course Id</h4></td>
                <td><h4>Description</h4></td>
                <td><h4>PId</h4></td>
                <td><h4>Start Date</h4></td>
                <td><h4>End Date</h4></td>
                <td><h4>Semester</h4></td>
                <td><h4>Year</h4></td>
            </tr>
            </thead>
            <tbody>

            {% for que in CoursePosts %}
                <tr>
                    <td>{{ que.CourseName }} </td>
                    <td>{{ que.CourseId }} </td>
                    <td>{{ que.Description }} </td>
                    <td>{{ que.PId }} </td>
                    <td>{{ que.StartDate }} </td>
                    <td>{{ que.EndDate }} </td>
                    <td>{{ que.Semester }} </td>
                    <td>{{ que.Year }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>