<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <title>courselaboratorystudent</title>
</head>
<body>

<style>
.right{
float:right;
}
.left{
float:left;
}
</style>

<script src="../js/jquery.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/filetree.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="header col-lg-12">
            <h1 class="title">Submissions Portal and ONline Judge</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="navigation-tree well">
                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Header 1</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><label class="tree-toggler nav-header">Header 1.1</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 1.1.1</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggler nav-header">Header 2</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><label class="tree-toggler nav-header">Header 2.1</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 2.1.1</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><label class="tree-toggler nav-header">Header 2.2</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-7">
            <div class="content well">
					
					
					<div class="row">
						<div class="box-card1">
							<h3>Course ID : Course Name</h3>
							</br>
							<h3><div align="right">By : Prof. Professor_Name</div></h3></br>
						</div>
					</div>
					</br>
					
					<div>
					<p class="right">Course Started on:dd/mm/yyyy</p>
					<p class="left">Course Ends on:dd/mm/yyyy</p></br>
					</div>
					
					<div class="row">
						<div class="box-card1">
							<h4>Course Description:</h4>
							<div class="course-name">Probability sbjsdkdsbssbskfdssdjkbdskfnds jkdsbkdsfbdsbjdsbdskjfdsbfkj dsbdskjbdf jdsbfkdfjdbkfvjbf kjdfdfbdf
							d kjdbdkfdbffbdkjfdb djbkdsbdkjd dbjkdvbdkvbd dbdkjfd dwsfssf fsdfdsfsdf fdsfdsfdsf dsfdsfdsfdsf fdfdfdsf dfsdfdsfdsf fdsfdsfds fsdfds
							fdsf fsdfdsfdsf fsdfdsfdsfdssfdsfdsf dss fsffdsfd fafsf fadsfdf fafafdds gdg klh jbkbb dscdbcsbjcd dkjcsdcbsd jkbdjbds jkbdsbcdsk 
							cdsjckdbcf jkdbfkdsb dsfdsfdsfdsf jsbfkjdsfbs fadfbsj fkjdsbfdbsf bjkbdsb fbdkjs abkjfadbsf jbkasfbsadf ajsbkfbaf bjkdbsjv bkjdsfsb 
							fdkjbfdabal jfkadbfba kdafbsv jadkb fakjdbs, fkldsfndlskv dksfndsf fkdslf dsbfkdabfl dsbfkldbaf lvadkfndl;af flksdfnsdf dlkfnlkdsfndsl
							</br>
							</div>
						</div>
						</br>
					</div>
					
					<div align="right"><a href="#" class="btn btn-default view course progress-btn">View Course Progress</a></div>
					
					<div class="row">
						<div class="box-card1">
							<h4>Course Assignments:</h4>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Start Date</th>
										<th>Deadline</th>
									</tr>
									<tr>
										<th>Name1</th>
										<th>Description1</th>
										<th>Start Date1</th>
										<th>Deadline1</th>
									</tr>
									<tr>
										<th>Name2</th>
										<th>Description2</th>
										<th>Start Date2</th>
										<th>Deadline2</th>
									</tr>
									<tr>
										<th>Name3</th>
										<th>Description3</th>
										<th>Start Date3</th>
										<th>Deadline3</th></br>
									</tr>
								</thead>
							</table>
						</div>
						</div>
					</br>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="calender well">
            </div>
        </div>
    </div>
</div>
</body>
</html>
