{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/monthly.css' %}">
    <title>Create Assignment</title>
</head>
<body>
<style>
    .right {
        float: right;
    }

    .left {
        float: left;
    }
</style>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/monthly.js' %}"></script>
<script src="{% static 'js/filetree.js' %}"></script>


<script type="text/javascript">
    $(window).load(function () {
        $('#mycalendar').monthly({
            mode: 'event',
            jsonUrl: "static/json/events.json",
            dataType: 'json'
        });

    });
</script>
<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>

<div class="row">
    <div class="col-md-2">
<div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Courses</label>
                        <ul class="nav nav-list tree">
                            {% for course in data %}
                            <li><label class="tree-toggler nav-header"><a href="/professorcourse/{{ course.id }}/">{{ course.name }}</a></label></li>
                            <ul class="nav nav-list tree">
                                {% for assignment in course.assignments %}
                            <li><label class="tree-toggler nav-header">{{ assignment.name }}</label>
                                    <ul class="nav nav-list tree">
                                {% for question in assignment.questions %}
                                    <li><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}">{{ question.name }}</a></li>

                                 {% endfor %}
                                </ul>
                            </li>
                                    {% endfor %}
                                </ul>
                            <li class="divider"></li>
                            {% endfor %}
{#                            <li><label class="tree-toggler nav-header"><a href="#">Course 2</a></label></li>#}
{#                            <ul class="nav nav-list tree">#}
{#                            <li><label class="tree-toggler nav-header">Assignment 1</label>#}
{#                                <ul class="nav nav-list tree">#}
{#                                    <li><a href="#">Question 1</a></li>#}
{#                                    <li><a href="#">Question 2</a></li>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                                </ul>#}
                        </ul>
                    </li>
                    <li class="divider"></li>

                </ul>

            </div>
    </div>
    <div class="col-md-7">
        <div class="content well">
            <form method="POST" action="/createassignment/{{ course.id }}/" class="post-form">{% csrf_token %}
                <h4>
                    <div align="center">{{ course.CourseId }} : {{ course.CourseName }}</div>
                </h4>
                </br>
                <div class="form-group">
                    <label for="AssignmentName">Assignment Name</label>
                    <input type="text" class="form-control" id="assignment_name" name="AssignmentName">
                </div>
                <div class="form-group">
                    <label for="Description">Assignment Description</label>
                    <textarea class="form-control" rows="5" id="assignment_description" name="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="StartTime">Start Date (YYYY-MM-DD HH:MM:SS)</label>
                    <input type="text" class="form-control" name="StartTime">
                </div>
                <div class="form-group">
                    <label for="EndTime">End Date (YYYY-MM-DD HH:MM:SS)</label>
                    <input type="text" class="form-control" name="EndTime">
                </div>


                {% comment %}Languages:
                <div class="checkbox">
                    <label><input type="checkbox" value="">Java</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">C</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="" >C++</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="">Python</label>
                </div>
				{% endcomment %}
                <button type="submit" class="save btn btn-default">Create</button>

                <div class="form-group">
                    <input type="hidden" class="form-control" rows="5" id="ent_description" name="CreationDate"
                           value="2016-11-13">
                    <input type="hidden" class="form-control" rows="5" id="ent_description" name="Courseid" value="1">
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="calender well">
            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
