{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="header">
    <div class="logo">
         <p><img src="{% static 'image/LOGO_IIITV.png' %}"  width="80"
height="80" align="left"  />
    </div>
 <div class="b">
     <a href ="/"><h1>SPONJ</h1></a>
    <a href="/"><h4>Submission Portal ONline Judge</h4></a></div>


             <div class="dropdown">
  <button class="dropbtn">Login</button>
  <div class="dropdown-content">
    <a href="plogin">Professor</a>
    <a href="slogin">Student</a>
    <a href="alogin">Assistant</a>
  </div>
            </div>

    <div class="dropdown">
  <button class="dropbtn">Create new Account</button>
  <div class="dropdown-content">
    <a href="pregister">Professor signup</a>
    <a href="sregister">Student Signup</a>
    <a href="aregister">Assistant Signup</a>
  </div>
  </div>
</div>


<div class="datamining">
<h2 class="subhead">create account</h2></br>
    <!--<form id="user_form" method="post" action="professor_list">-->
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ uf.as_p }}
        {{upf.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>

</body>
</html>