{% load staticfiles %}
<html>
<html lang="en">
<meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/monthly.css' %}">
    <title>Professor Home</title>
</head>
<body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/monthly.js"></script>


    <script type="text/javascript">
    $(window).load( function() {
        $('#mycalendar').monthly({mode:'event',
            jsonUrl: "static/json/events.json",
            dataType: 'json'});

    });
    </script>

<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>

    <div class="row">
        <div class="col-md-2">
            <div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Courses</label>
                        <ul class="nav nav-list tree">
                            {% for course in data %}
                            <li><label class="tree-toggler nav-header"><a href="/professorcourse/{{ course.id }}/">{{ course.name }}</a></label></li>
                            <ul class="nav nav-list tree">
                                {% for assignment in course.assignments %}
                            <li><label class="tree-toggler nav-header">{{ assignment.name }}</label>
                                    <ul class="nav nav-list tree">
                                {% for question in assignment.questions %}
                                    <li><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}">{{ question.name }}</a></li>

                                 {% endfor %}
                                </ul>
                            </li>
                                    {% endfor %}
                                </ul>
                            <li class="divider"></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="content well">
                <h2>List of courses</h2>
                <div class="row">
                    <!--<div class="col-sm-2 col-md-4 col-lg-4" style="background-color:yellow;">-->
                        {% for course in Coursepost %}
                            <a href="professorcourse/{{ course.id }}">
                        <div class="course box-card col-lg-2">
                            <h4>{{ course.CourseId }}</h4>
                        <div class="course-name"> {{course.CourseName}}</div>
                        <div class="prof-name">{{course.PId}}</div>
                        <div class="course-year-sem">{{course.Semester}} - {{course.Year}}</div>

                        </div>
                    </a>
                {% endfor %}
            <a href="createcourse">
                <div class="box-card col-lg-10">
                    <h5>Create New Course</h5>
                        <span class="glyphicon glyphicon-plus"></span><br/>
                        <br/><br/>
                    </p>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="calender well">
            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>