{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Professor Login</title>
</head>
<body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
<script src="{% static 'js/filetree.js' %}"></script>


<div class="header">
    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    {% comment %}<a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>{% endcomment %}
</div>


</br>
<div class="lg col-sm-2">
</div>
<div class="lg col-sm-3">
    <div align="center">
        <h3>ABOUT</h3>
        SPONJ is an online compiler and debugging tool which allows a Student user to run and comiple their codes in 4
        different languages.
        It is a project that is being developed by some IIIT Vadodara students of Computer Science Department.
    </div>
    </br>
    </br>
    <div align="center">
        <h3>SPONJ ACADEMIC</h3>
        SPONJ is a platform for Professors, Teaching Assistants and Students. Here assignments can be created and
        checked online so
        that progress can be tracked.
    </div>
</div>


<div class="login col-sm-6">
    <div class="form-group">
        <legend>Login</legend>
        <ul class="nav nav-tabs" id="selector">
            <li class="user"><a href="/">Student</a></li>
            <li class="user active"><a href="professor_login">Professor</a></li>
            <li class="user"><a href="assistant_login">Teaching Assistant</a></li>
        </ul>
    </div>

    <form name="form"  method="POST">
        <fieldset>
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10"><input type="text" id="username" name="username" class="form-control"
                                              value="User Name"
                                              onfocus="if(this.value  == 'User Name'){ this.value = ''; } " onblur="if(this.value == '')
        { this.value = 'User Name'; } " required><br>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10"><input type="password" id="password" class="form-control" name="password"
                                              required><br>
                </div>
            </div>
            <button class="btn btn-default login-btn" type="submit">Login</button>
        </fieldset>
    </form>
    {% comment %}Not Registered? <a href="professor_register"> Register Here</a>{% endcomment %}
</div>

</body>
</html>