{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/monthly.css' %}">
    <title>Student vs Question Matrix</title>
</head>
<body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/monthly.js"></script>
<script src="{% static 'js/filetree.js' %}"></script>

<script type="/text/javascript">
    $(window).load( function() {
        $('#mycalendar').monthly({mode:'event',
            jsonUrl: "static/json/events.json",
            dataType: 'json'});

    });

</script>
<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


<div class="row">
    <div class="col-md-2">
        <<div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Courses</label>
                        <ul class="nav nav-list tree">
                            {% for course in data %}
                            <li><label class="tree-toggler nav-header"><a href="/professorcourse/{{ course.id }}/">{{ course.name }}</a></label></li>
                            <ul class="nav nav-list tree">
                                {% for assignment in course.assignments %}
                            <li><label class="tree-toggler nav-header">{{ assignment.name }}</label>
                                    <ul class="nav nav-list tree">
                                {% for question in assignment.questions %}
                                    <li><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}">{{ question.name }}</a></li>

                                 {% endfor %}
                                </ul>
                            </li>
                                    {% endfor %}
                                </ul>
                            <li class="divider"></li>
                            {% endfor %}
{#                            <li><label class="tree-toggler nav-header"><a href="#">Course 2</a></label></li>#}
{#                            <ul class="nav nav-list tree">#}
{#                            <li><label class="tree-toggler nav-header">Assignment 1</label>#}
{#                                <ul class="nav nav-list tree">#}
{#                                    <li><a href="#">Question 1</a></li>#}
{#                                    <li><a href="#">Question 2</a></li>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                                </ul>#}
                        </ul>
                    </li>
                    <li class="divider"></li>

                </ul>

            </div>
    </div>
    <div class="col-md-7">
        <div class="content well">
            <h2>{{ course.CourseId }}: {{ course.CourseName }}</h2>
            <h3>{{ assignment.AssignmentName }}</h3>
            <table class="studentvsqmatrix">
                <tr class="studentvsqmatrix_heading">
                    <th>ID</th>
                    <th>Name</th>
                    {% for question in questions %}
                        <th class="q_id">{{ question.id }}</th>
                    {% endfor %}
                </tr>
                {% for studentsubmissiondetail in submissionlist %}
                    <tr class="student_row">
                        <td class="student_id">{{ studentsubmissiondetail.id }}</td>
                        <td class="student_name">{{ studentsubmissiondetail.name }}</td>
                        {% for submission in studentsubmissiondetail.submissions %}
                            {% if submission == None %}
                                <td>
                                    <div class="q_status"></div>
                                </td>
                            {% elif submission.Result == 'correct' %}
                                <td><a href="/viewsubmission/{{ submission.id }}/">
                                    <div class="q_status q_correct"></div>
                                </a></td>

                            {% elif submission.Result == 'wrong' %}
                                <td><a href="/viewsubmission/{{ submission.id }}/">
                                    <div class="q_status q_wrong"></div>
                                </a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="calender well">
            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>