{% load staticfiles %}
<html>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/monthly.css' %}">
<title>View Assignment</title>
</head>
<body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/monthly.js' %}"></script>
<script src="{% static 'js/filetree.js' %}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#mycalendar').monthly({
            mode: 'event',
            jsonUrl: "/static/json/events.json",
            dataType: 'json'
        });

    });
</script>

<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Courses</label>
                        <ul class="nav nav-list tree">
                            {% for course in data %}
                            <li><label class="tree-toggler nav-header"><a href="/professorcourse/{{ course.id }}/">{{ course.name }}</a></label></li>
                            <ul class="nav nav-list tree">
                                {% for assignment in course.assignments %}
                            <li><label class="tree-toggler nav-header">{{ assignment.name }}</label>
                                    <ul class="nav nav-list tree">
                                {% for question in assignment.questions %}
                                    <li><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}">{{ question.name }}</a></li>

                                 {% endfor %}
                                </ul>
                            </li>
                                    {% endfor %}
                                </ul>
                            <li class="divider"></li>
                            {% endfor %}
{#                            <li><label class="tree-toggler nav-header"><a href="#">Course 2</a></label></li>#}
{#                            <ul class="nav nav-list tree">#}
{#                            <li><label class="tree-toggler nav-header">Assignment 1</label>#}
{#                                <ul class="nav nav-list tree">#}
{#                                    <li><a href="#">Question 1</a></li>#}
{#                                    <li><a href="#">Question 2</a></li>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                                </ul>#}
                        </ul>
                    </li>
                    <li class="divider"></li>

                </ul>

            </div>
    </div>
    <div class="col-md-7">
        <div class="content well">


            <h4> {{ assignment.AssignmentName }}</h4>
            <div align="right">By : Prof {{ professor.Name }}</div>
            <br/>
            <div style="float: left">Assignment Starts On {{ assignment.StartTime|date }}</div>

            <div style="float: right">Assignment Ends On {{ assignment.EndTime|date }}</div>
            </br></br>

            <div align="left"><h5>Languages:{% for language in languages %}
                {{ language.Programming_Language }}
            {% endfor %}
            </h5></div>

            <a href="/studentvsquestion_matrix/{{ assignment.id }}">
                <div class="btn btn-default" align="right" style="float: right">View Student v/s Question Matrix</div>
            </a>

            <br>
            <div class="row">
                <h4>Assignment Description:</h4>
                <div class="course-name">
                    {{ assignment.Description }}
                </div>
            </div>
            </br>
            </br>

            <div class="row">
                <h4>Course Assignments:</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Question ID</th>
                        <th>Question Name</th>
                        <th>Author</th>

                    </tr>
                    </thead>
                    {% for question in questions %}
                        <tr>
                            <td><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}"> {{ question.id }}</a>
                            </td>
                            <td>{{ question.QName }}</td>
                            <td>{{ question.QAuthor }}</td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
            </br>
            <a href="/question/{{ assignment.id }}/" class="btn btn-default view course progress-btn">Add Question</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="calender well">
            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
