{% load staticfiles %}
<html>
<html lang="en">
<meta charset="UTF-8">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/monthly.css' %}">
<title>View Question</title>
</head>
<body>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/monthly.js' %}"></script>
<script src="{% static 'js/filetree.js' %}"></script>

<script type="text/javascript">
    $(window).load(function () {
        $('#mycalendar').monthly({
            mode: 'event',
            jsonUrl: '../events.json',
            dataType: 'json'
        });

    });
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Courses</label>
                        <ul class="nav nav-list tree">
                            {% for course in data %}
                            <li><label class="tree-toggler nav-header"><a href="/professorcourse/{{ course.id }}/">{{ course.name }}</a></label></li>
                            <ul class="nav nav-list tree">
                                {% for assignment in course.assignments %}
                            <li><label class="tree-toggler nav-header">{{ assignment.name }}</label>
                                    <ul class="nav nav-list tree">
                                {% for question in assignment.questions %}
                                    <li><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}">{{ question.name }}</a></li>

                                 {% endfor %}
                                </ul>
                            </li>
                                    {% endfor %}
                                </ul>
                            <li class="divider"></li>
                            {% endfor %}
{#                            <li><label class="tree-toggler nav-header"><a href="#">Course 2</a></label></li>#}
{#                            <ul class="nav nav-list tree">#}
{#                            <li><label class="tree-toggler nav-header">Assignment 1</label>#}
{#                                <ul class="nav nav-list tree">#}
{#                                    <li><a href="#">Question 1</a></li>#}
{#                                    <li><a href="#">Question 2</a></li>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                                </ul>#}
                        </ul>
                    </li>
                    <li class="divider"></li>

                </ul>

            </div>
    </div>
    <div class="col-md-7">
        <div class="content well">
            <div class="head_q">
                <h4>{{ course.CourseId }}: {{ course.CourseName }}</h4>
                <h4>Assignment Name: {{ assignment.AssignmentName }} </h4>
                <div align="right">By : Prof {{ professor.Name }}</div>
            </div>
            <div class="question">
                <h4> ID: {{ question.id }} Name: {{ question.QName }} </h4>
                <h4 align="center">Description</h4>
                <p>
                    {{ question.QDescription }}
                </p>
                <div class="tests row">
                    <div class="test_input col-lg-3">
                        Test Input 1 <br>
                        <pre class="test_case_input">{{ inp1 }}</pre>
                    </div>
                    <div class="test_output col-lg-3">
                        Test Output 1<br>
                        <pre class="test_case_output">{{ out1 }}</pre>
                    </div>

                    <div class="test_input col-lg-3">
                        Test Input 2<br>
                        <pre class="test_case_input">{{ inp2 }}</pre>
                    </div>
                    <div class="test_output col-lg-3">
                        Test Output 2<br>
                        <pre class="test_case_output">{{ out2 }}</pre>
                    </div>
                </div>
                <br>
                <div align="center"><img
                        src="{{ question.Image.url }}"
                        width="50%" alt="An image icon"></div>
                <br>

            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="calender well">
            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>