{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Assistant Register</title>
</head>
<body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>

<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


<div class="datamining">
    <h2 class="subhead">Create Account</h2></br>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ Af.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

</body>
</html>