{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Assistant Register</title>
</head>
<body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>

<div class="header">
    <div class="logo">
         <p><img src="{% static 'media/../../static/media/q.jpg' %}" width="80"
                 height="80" align="left" />
    </div>
 <div class="b">
     <a href ="/"><h1>Submissions Portal and ONline Judge</h1></a> </div>
           {% comment %}<a href="/logout" ><button class="logoutbtn">Logout</button></a>{% endcomment %}
    </div>

<div class="datamining">
    <h2 class="subhead">Create Account</h2></br>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ Af.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

</body>
</html>