{% load staticfiles %}
<html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/monthly.css' %}">
    <title>Login to sponj</title>
</head>
<body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/monthly.js"></script>
    <script type="text/javascript">
    $(window).load( function() {
        $('#mycalendar').monthly({mode:'event',
            jsonUrl: "static/json/events.json",
            dataType: 'json'});

    });
    </script>
<div class="container-fluid">
    <div class="row">
        <div class="header col-lg-12">
            <h1 class="title">Submissions Portal and ONline Judge</h1>
        </div>
    </div>

    <div class="login col-sm-6" >
        <div class="form-group">
            <legend>Login</legend>
            <ul class="nav nav-tabs" id="selector">
                <li class="user active"><a href="/">Student</a></li>
                <li class="user"><a href="professor_login">Professor</a></li>
                <li class="user"><a href="assistant_login">Teaching Assistant</a></li>
            </ul>
        </div>
  <form class="form-horizontal" method="POST" action="student_login">
  <fieldset>
  {% csrf_token %}
      <div class="form-group">
        <label for="username" class="col-lg-2 control-label"> Username</label>
        <div class="col-lg-10"><input type="text" id="username" name="username" class="form-control" value="User Name"
        onfocus="if(this.value  == 'User Name'){ this.value = ''; } " onblur="if(this.value == '')
        { this.value = 'User Name'; } " required ><br>
            </div>
          </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10"><input type="password" id="password" class="form-control" name="password" required><br>
            </div>
          </div>
        <button class="btn btn-default login-btn" type="submit">Login</button>
        </fieldset>
    </form>
        Not Registered? <a href="student_register"> Register Here</a>
    </div>

</body>
</html>