{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="header">
    <div class="logo">
         <p><img src="{% static 'image/LOGO_IIITV.png' %}"  width="80"
height="80" align="left"  />
    </div>
 <div class="b">
     <a href ="/"><h1>SPONJ</h1></a> </div>


            <div class="dropdown">
  <button class="dropbtn">Login</button>
  <div class="dropdown-content">
    <a href="login">Professor</a>
    <a href="login">Student</a>
      <a href="login">Assistant</a>
  </div>
            </div>

    <div class="dropdown">
  <button class="dropbtn">Create new Account</button>
  <div class="dropdown-content">
    <a href="psignup">Professor signup</a>
    <a href="">Student Signup</a>
    <a href="">Assistant Signup</a>
  </div>
  </div>


    </div>
<div class="datamining">
<h2 class="subhead">Add new question</h2></br>
<a href="{% url 'question' %}" class="top-menu"><!--<span class="glyphicon glyphicon-plus"></span>--></a>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
</body>
</html>