{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="header">
    <div class="logo">
         <p><img src="{% static 'image/LOGO_IIITV.png' %}"  width="80"
height="80" align="left"  />
    </div>
 <div class="b">
     <a href ="/"><h1>SPONJ</h1></a>
    <a href="/"><h4>Submission Portal ONline Judge</h4></a></div>


            <div class="dropdown">
  <button class="dropbtn">Login</button>
  <div class="dropdown-content">
    <a href="login">Professor</a>
    <a href="login">Student</a>
    <a href="login">Assistant</a>
  </div>
            </div>

    <div class="dropdown">
  <button class="dropbtn">Create new Account</button>
  <div class="dropdown-content">
    <a href="psignup">Professor signup</a>
    <a href="AddStandPerson">Student Signup</a>
    <a href="StandList">Assistant Signup</a>
  </div>
  </div>
    </div>

<h2 class="subhead"></h2></br>
{% block main %}
<br><br><br>
        <div class="container" style="margin:auto; border-radius:5px;background-color:#f2f2f2;padding:20px;">
        <h1>Register as professor</h1><br><br>
        {% if form.errors %}
            <h3 style="color:red;">Form Errors</h3>
            <p style="color:red;">Please check the username you have provided</p>
            <p style="color:red;">Username and email should be unique</p>
        {% endif %}
        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/welcome">Return to the homepage.</a><br />
        {% else %}
            <h3><strong>Register here!</strong></h3>

        <form id="user_form" method="post" action="register/">
            {% csrf_token %}
           <label for="first_name">First Name:</label>
           <div style="width:3%;margin:8px 0;dispaly:inline-block;border:1px solid #ccc;border-radius:4px;
                       box-sizing:border-box;">{{ user_form.first_name }}</div>
           <label for="last_name">Last Name:</label>
           <div style="width:3%;margin:8px 0;dispaly:inline-block;border:1px solid #ccc;border-radius:4px;
                       box-sizing:border-box;">{{ user_form.last_name }}</div>
           <label for="username">Username:</label>
           <div style="width:3%;margin:8px 0;dispaly:inline-block;border:1px solid #ccc;border-radius:4px;
                       box-sizing:border-box;">{{ user_form.username }}</div>
           <label for="emails">Email:</label>
           <div style="width:3%;margin:8px 0;dispaly:inline-block;border:1px solid #ccc;border-radius:4px;
                       box-sizing:border-box;">{{ user_form.email }}</div>
           <label for="password">Password:</label>
           <div style="width:3%;margin:8px 0;dispaly:inline-block;border:1px solid #ccc;border-radius:4px;
                       box-sizing:border-box;">{{ user_form.password }}</div>
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

    </div>
{% endblock %}

</body>
</html>