{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>studentlist</title>
</head>
<body>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

<div class="container-fluid">
    <div class="row">
        <div class="header col-lg-12">
            <h1 class="title">Submissions Portal and ONline Judge</h1>
        </div>
    </div>
    </div>

{% block main %}<br><br><br>
<center><h1>Student List</h1></center>
<center>
                <table style="width:60%" class="table table-striped">
                <tr>
                <th class="cell">Student Id</th>
                <th class="cell">Batch</th>
                <th class="cell">Brach</th> &nbsp
                <th class="cell">Programmme</th> &nbsp
                <th class="cell">Username</th> &nbsp
                <th class="cell">First name</th> &nbsp
                <th class="cell">Last name</th> &nbsp
                <th class="cell">Email</th>
               <!-- <th class="cell">Password</th>-->

                </tr>
           {% for c,d in list %}
            <tr>
            <td class="cell">{{c.SiD}}</td>
            <td class="cell">{{c.Batch}}</td>
            <td class="cell">{{c.Branch}}</td>
            <td class="cell">{{c.Programme}}</td>
            <td class="cell">{{c.username}}</td>
            <td class="cell">{{d.first_name}}</td>
            <td class="cell">{{d.last_name}}</td>
            <td class="cell">{{d.email}}</td>
            <!--<td class="cell">{{d.password}}</td>-->
                </tr>
            {% endfor %}

</table></center>
{% endblock %}
</body>
</html>