{% load staticfiles %}
<html>
<html lang="en">
<meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/monthly.css' %}">
    <title>professorhome</title>
</head>
<body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/monthly.js"></script>
    <script type="text/javascript">
    $(window).load( function() {
        $('#mycalendar').monthly({mode:'event',
            jsonUrl: "static/json/events.json",
            dataType: 'json'});

    });
    </script>
<div class="container-fluid">
    <div class="row">
        <div class="header col-lg-12">
            <h1 class="title">Submissions Portal and ONline Judge</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Header 1</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><label class="tree-toggler nav-header">Header 1.1</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 1.1.1</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggler nav-header">Header 2</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><label class="tree-toggler nav-header">Header 2.1</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 2.1.1</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><label class="tree-toggler nav-header">Header 2.2</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                                        <ul class="nav nav-list tree">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-7">
            <div class="content well">
                <h2>List of courses</h2>
                <div class="row">
                    <!--<div class="col-sm-2 col-md-4 col-lg-4" style="background-color:yellow;">-->
                        {% for course in courses %}
                            <a href="professorcourse/{{ course.id }}">
                        <div class="course box-card col-lg-2">
                            <h4>{{ course.CourseId }}</h4>
                        <div class="course-name"> {{course.CourseName}}</div>
                        <div class="prof-name">{{course.PId}}</div>
                        <div class="course-year-sem">{{course.Semester}} - {{course.Year}}</div>

                            </div></a>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="calender well">
                <div class="monthly" id="mycalendar"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>