{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/monthly.css' %}">
    <title>Student Course</title>
</head>
<body>
<style>
    .right {
        float: right;
    }

    .left {
        float: left;
    }
</style>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/monthly.js' %}"></script>

<script type="text/javascript">
    $(window).load(function () {
        $('#mycalendar').monthly({
            mode: 'event',
            jsonUrl: "static/json/events.json",
            dataType: 'json'
        });

    });
</script>

<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


</div>
<div class="row">

    <div class="col-md-2">
        <div class="navigation-tree well">

                <ul class="nav nav-list">
                    <li><label class="tree-toggler nav-header">Courses</label>
                        <ul class="nav nav-list tree">
                            {% for course in data %}
                            <li><label class="tree-toggler nav-header"><a href="/professorcourse/{{ course.id }}/">{{ course.name }}</a></label></li>
                            <ul class="nav nav-list tree">
                                {% for assignment in course.assignments %}
                            <li><label class="tree-toggler nav-header">{{ assignment.name }}</label>
                                    <ul class="nav nav-list tree">
                                {% for question in assignment.questions %}
                                    <li><a href="/viewquestion/{{ assignment.id }}_{{ question.id }}">{{ question.name }}</a></li>

                                 {% endfor %}
                                </ul>
                            </li>
                                    {% endfor %}
                                </ul>
                            <li class="divider"></li>
                            {% endfor %}
{#                            <li><label class="tree-toggler nav-header"><a href="#">Course 2</a></label></li>#}
{#                            <ul class="nav nav-list tree">#}
{#                            <li><label class="tree-toggler nav-header">Assignment 1</label>#}
{#                                <ul class="nav nav-list tree">#}
{#                                    <li><a href="#">Question 1</a></li>#}
{#                                    <li><a href="#">Question 2</a></li>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                                </ul>#}
                        </ul>
                    </li>
                    <li class="divider"></li>

                </ul>

            </div>
    </div>

    <div class="col-md-7">
        <div class="content well">
            <div class="row">
                <div class="box-card1">
                    <h3>{{ course.CourseId }} : {{ course.CourseName }}</h3>
                    </br>
                    <h3>
                        <div align="right">By : Prof. {{ professor_name }}</div>
                    </h3>
                    </br>
                </div>
            </div>

            <div>
                <p class="right">Course Started on: {{ course.StartDate }}</p>
                <p class="left">Course Ends on: {{ course.EndDate }}</p></br>
            </div>
            <br>

            <div align="right"><a href="/viewassignmentfullreport_student/{{ course.id }}"
                                  class="btn btn-default view course progress-btn">View Course Progress</a></div>
            <div class="row">
                <div class="box-card1">
                    <h4>Course Description:</h4>
                    <div class="course-name">{{ course.Description }}
                    </div>
                    </br>
                </div>
            </div>
            <br>
            <div class="tab-card row assignments-tab ">
                <h4>Course Assignments:</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Deadline</th>
                    </tr>
                    </thead>
                    {% for assignment in assignmentlist %}

                        <tr>
                            <td>
                                <a href="/viewassignment_student/{{ assignment.id }}">{{ assignment.AssignmentName }}</a>
                            </td>
                            <td>{{ assignment.Description }}</td>
                            <td>{{ assignment.StartTime }}</td>
                            <td>{{ assignment.EndTime }}</td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
            </br>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="calender well">
            <div class="monthly" id="mycalendar"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
