{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>Student List</title>
</head>
<body>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>

<div class="header">

    <div class="b">
        <a href="/"><h1 class="title">SPONJ : Submissions Portal and ONline Judge</h1></a></div>
    <a href="/logout">
        <button class="logoutbtn">Logout</button>
    </a>
</div>


{% block main %}<br><br><br>
    <center><h1>Student List</h1></center>
    <center>
        <table style="width:60%" class="table table-striped">
            <tr>
                <th class="cell">Student Id</th>
                <th class="cell">Batch</th>
                <th class="cell">Brach</th>
                &nbsp
                <th class="cell">Programmme</th>
                &nbsp
                <th class="cell">Name</th>
                &nbsp
                <th class="cell">Email</th>
                <!-- <th class="cell">Password</th>-->

            </tr>
            {% for c in list %}
                <tr>
                <td class="cell">{{ c.SId }}</td>
                <td class="cell">{{ c.Batch }}</td>
                <td class="cell">{{ c.Branch }}</td>
                <td class="cell">{{ c.Programme }}</td>
                <td class="cell">{{ c.Name }}</td>
                <td class="cell">{{ c.Email }}</td>
            {% endfor %}

        </table>
    </center>
{% endblock %}
</body>
</html>